<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/tailwindcompiled.css">
    <link rel="stylesheet" href="./css/main.css">
    <title>Document</title>
</head>
<body class="bg-snow">
    <nav class="relative container mx-auto p-6">
        <div class="flex items-center justify-between">
            <div class="pt-2">
                asd
            </div>
            <div class="hidden space-x-6 text-blurple md:flex">
                <a class="hover:text-lightblurple" href="#">Home</a>
                <a class="hover:text-lightblurple" href="#">Changer</a>
            </div>
        </div>
    </nav>
    <section id="home">
    </section>
    <section id="changer">
    </section>
    <section id="about">
    </section>
    <!--<input type="file" id="skinpicker"
        accept=".png,.jpg,.jpeg">-->
</body>
</html>