@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --blurple: #736CED;
        --lightblurple: #9F9FED;
        --magnolia: #F6EEFB;
        --snow: #FEF9FF;
        --champagnepink: #F2DFD7;
        --bgDark: #141313;
        --darkErrorDark: #5D1F1F;
        --darkErrorLight: #743434;
        --lightErrorDark: #FF7474;
        --lightErrorLight: #EB9E9E;
        --maxerroropacity: 0.9;
      }
}